/*Font family is tradegothic*/

.main_div {
  background-color: #DE3A31;
  height: 100vh;
}

.landing_page_div {
    margin-left: 2vw;
    margin-right: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f5f4;
    height: 98vh;
}
.landing_page_header_div {
  height: 1vh;
  background-color: #DE3A31;
}
.component_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f5f4;
    height: 95vh;
}

.marvel_logo {
  max-width: 60vw;
  padding-top: 5vh;
}

.landing_page_welcome {
    padding-left: 5vw;
    padding-right: 5vw;
    text-align: center;
    padding-bottom: 10vh;
}

.btn {
    color: #f7f5f4;
    background-color: #DE3A31;
    border-color: #f7f5f4;
}

/*********************************SEARCH PAGE**************************************/
.search_page_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f5f4;
    height: 93vh;
}

.search_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3vh;
}

.search_btn {
    color: #f7f5f4;
    background-color: #DE3A31;
    border-color: #f7f5f4;
}

.search_input {
  background-color: transparent;
  color: black;
  text-align: center;
  width: 60vw;
  margin-bottom: 3vh;
  font-size: 120%;
}

.search_navbar_div {
  display: flex;
  height: 6vh;
  flex-direction: row;
  background-color: #DE3A31;
}

.arrow {
  width: 3vw;
  padding-bottom: 4px;
}

/*********************************RESTULTS PAGE**************************************/
.navbar_div {
  display: flex;
  justify-content: space-between;
  height: 5vh;
}

.charcter_image {
  width: 50vw;
}

.results_p {
    margin-top: 3vh;
    margin-left: 3vw;
    margin-right: 3vw;
    text-align: center;
}


/*CSS imported from create-react-app*/

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
