/*Font family is tradegothic*/
/*new main div {
      display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7f5f4;
    height: 90vh;
}*/
.main_div {
  background-color: #DE3A31;
  height: 100vh;
}

.component_div {
      display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f5f4;
    height: 95vh;
}

.marvel_logo {
  max-width: 20vw;
  max-height: 20vh;
}

.enter_btn {
  background: white;
}

.search_btn {
  background: white;
}

.search_input {
  background-color: transparent;
  color: black;
}

.search_navbar_div {
  display: flex;
  height: 5vh;
}

.arrow {
  width: 3vw;
  padding-bottom: 4px;
}

/*********************************RESTULTS PAGE**************************************/
.navbar_div {
  display: flex;
  justify-content: space-between;
  height: 5vh;
}

.charcter_image {
  width: 50vw;
}

.results_p {
    margin-top: 3vh;
    margin-left: 3vw;
    margin-right: 3vw;
    text-align: center;
}


/*CSS imported from create-react-app*/

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
